@charset "UTF-8";

*{
    box-sizing: border-box;
}


h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    font-style: normal;
    text-align: center;
    background-color: rgba(173, 216, 230, 0.521);
    
}

#container{
    width: 100vw;
    height: 100vh;
    background-image: url(imagens/gabin-vallet-J154nEkpzlQ-unsplash.jpg);
    background-size: cover;
    
}

.form{
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.712);
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    size: 16px;
}
label{
    display: block;
    padding: auto;
   
}
input {

    padding: 10px;
    width: 400px;
    border: 2px solid #999;
    outline: 0;
}


